/* html, */


@font-face {
    font-family: iloveyou;
    src: url('./fonts/Roboto-Regular.ttf');
}

html{
    width: 100%;
}

body {
    height: 240vh;
    width: 100%;
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: center;
    position: relative;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    /* background-color: forestgreen; */
}

#thisfrm button{
    background-color: rgb(242, 143, 0);
    border: none;
    color: white;
    border-radius: 10px;
    height: 12.5%;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.8vh;
}
