html,
body {
    height: 160vh;
    width: 100%;
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: center;
    position: relative;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    /* background-color: forestgreen; */
}

body {
    height: 250vh;
}